extends stockLayout
block content
  main.container.my-5
    if items && items.length
      table.table.table-striped.table-bordered.mt-4
        thead.table-dark
          tr
            th Product Name
            th Product Type
            th Furniture Type
            th Cost Price (UGX)
            th Selling Price (UGX)
            th Quantity
            th Supplier
            th Date Received
            th Quality
            th Color
            th Measurements
        tbody
          if items.length
            each item in items
              tr
                td #{item.productName}
                td #{item.productType}
                td #{item.furnitureType}
                td #{item.costPrice.toLocaleString()}
                td #{item.sellingPrice.toLocaleString()}
                td #{item.quantity}
                td #{item.supplierName}
                td #{moment(item.date).format("DD-MM-YYYY")}
                td #{item.quality}
                td #{item.color || "-"}
                td #{item.measurements || "-"}
                td 
                  a.btn.btn-warning(href=`/editstock/${item._id}`)
    else
      p.mt-4.text-muted No stock items found. Please register stock.

    script.
      // set footer year automatically
      document.addEventListener("DOMContentLoaded", () => {
        document.getElementById("year").textContent = new Date().getFullYear();
      });
