extends stockLayout

block content
  header.site-header
    h1 Mayondo Wood & Furniture (MWF) Ltd
    p.subtitle Stock Inventory

  main.container
    if stocks.length
      table.table.table-striped.table-bordered.mt-4
        thead.table-dark
          tr
            th Product Name
            th Product Type
            th Furniture Type
            th Cost Price (UGX)
            th Selling Price (UGX)
            th Quantity
            th Supplier
            th Date Received
            th Quality
            th Color
            th Measurements
        tbody
          each stock in stocks
            tr
              td= stock.productName
              td= stock.productType
              td= stock.furnitureType ? stock.furnitureType : "-"
              td #{stock.costPrice.toLocaleString()}
              td #{stock.sellingPrice.toLocaleString()}
              td= stock.quantity
              td= stock.supplierName
              td= stock.date ? stock.date.toDateString() : "-"
              td= stock.quality
              td= stock.color || "-"
              td= stock.measurements || "-"
    else
      p.mt-4.text-muted No stock items found. Please register stock.

  footer.site-footer
    small
      | © 
      span#year
      |  MWF Ltd • All rights reserved.
